<div id="carousel" class="carousel slide" data-bs-ride="carousel">

    <!-- <ol class="carousel-indicators" *ngIf="movieList">
        <li data-bs-target="#carousel" data-bs-slide-to="0" class="text-white active" aria-current="true"
        [attr.aria-label]="movieList.results[0].title"></li>
        <ng-container *ngFor="let movie of movieList.results.slice(1,5); let i = index">
            <li data-bs-target="#carousel" class="text-white" [attr.data-bs-slide-to]="i+1" [attr.aria-label]="movie.title">
            </li>
        </ng-container>

    </ol> -->

    <div title="Top Movies" class="carousel-inner" role="listbox" *ngIf="movieList">
        <div class="carousel-item active">
            <img [src]="resourcesURL+movieList.results[0].backdrop_path" class="w-100 d-block"
                alt="{{resourcesURL+movieList.results[0].title}}" routerLink="/movie/{{movieList.results[0].id}}">
            <div class="carousel-caption">
                <div class="container">
                    <a class="h3 text-decoration-none"
                        routerLink="/movie/{{movieList.results[0].id}}">{{movieList.results[0].title}}</a>
                    <p class=" d-none d-md-block">{{movieList.results[0].overview}}</p>
                </div>
            </div>
        </div>
        <ng-container *ngFor="let movie of movieList.results.slice(1,movieList.results.length)">

            <div class="carousel-item">
                <img src="{{resourcesURL+movie.backdrop_path}}" class="w-100 d-block" alt="{{movie.title}}" routerLink="/movie/{{movie.id}}">
                <div class="carousel-caption">
                    <div class="container">
                        <a class="h3 text-decoration-none" routerLink="/movie/{{movie.id}}">{{movie.title}}</a>
                        <p class=" d-none d-md-block">{{movie.overview}}</p>
                    </div>
                </div>
            </div>

        </ng-container>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>