.carousel-caption {
    position: absolute;
    inset: unset;
    bottom: 0;
    color: #fff;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.60);
}
#carousel{
    height: 85vh;
}
#carousel *:not(.carousel-caption ){
    height: 100%;
}
#carousel img{
    object-fit:cover;
    object-position: top;
}